@import "variables";
@import "generales";
@import "mixin";
    *{
        font-family: Roboto;
        box-sizing: border-box;
    }
    .loreal {
        @include fondo(50px,0px, $colorfondo);
    }
    .colportafolio {
        @include fondo(50px,0px, $colorfondo);
    }
    .colredes {
        @include fondo(50px,0px, $colorfondo);
            text-align: center
    }
    .colturnos {
        @include fondo(0px,0px, $colorfondo);
        div {
            text-align: center;
        }
        p{
            text-align: center;
        }}
    @media screen and (max-width: 575px){
        body{
            width: 75%;
            position: relative;
        }}